# Системные файлы
*.log
*.pot
*.pyc
__pycache__/

# Миграции Django
*/migrations/*

# Базы данных
*.sqlite3
*.db

# Статические файлы
/staticfiles/

# Медиа-файлы
/media/

# Настройки окружения
.env

# Папка виртуального окружения
venv/
